@import "libs"
@font-face
  font-family: GothamPro
  src: url(../fonts/GothamPro/GothamPro.woff)
@font-face
  font-family: GothamProBlack
  src: url(../fonts/GothamProBlack/GothamProBlack.woff)
@font-face
  font-family: GothamProBold
  src: url(../fonts/GothamProBold/GothamProBold.woff)
@font-face
  font-family: GothamProLight
  src: url(../fonts/GothamProLight/GothamProLight.woff)

$blue: #1e90ff
$blue_bright: #3742fa
$dark_grey: #2f3542

body
  margin: 0
  padding: 0
  font-family: 'GothamProBlack', sans-serif
  color: $dark_grey

section
  margin-bottom: 15vh

h2
  margin-top: 0

.main-nav
  padding: 3.2vh 4.5vw
  position: relative
  & .container
    text-align: right
    font-family: 'GothamProBold', sans-serif
  & a
    display: inline-block
    vertical-align: top
    color: $blue
    font-size: 14px
    font-weight: bold
    text-decoration: none
    margin-right: 1.85vw
    white-space: nowrap
    &:hover
      color: darken($blue, 20%)
    &.main-nav__main-title
      position: absolute
      color: $dark_grey
      font-size: 20px
      &:hover
        color: darken($dark_grey, 20%)
  &__hamburger
    display: inline-block
    position: absolute
    top: 3.2vh
    right: 6vw
    content: ""
    width: 24px
    cursor: pointer
    & span
      display: block
      content: ""
      width: 24px
      height: 2px
      background-color: $dark_grey
      margin-top: 6px
    &:hover span
      height: 3px
      margin-top: 5px

.briefing
  font-size: 90px
  & .briefing__slogan
    margin-bottom: 0
    margin-top: 0.5em
  & .briefing__slogan--colored
    color: $blue
  & .briefing__text
    font-size: 24px
    font-family: 'GothamPro', sans-serif
    padding-right: 2.3vw
    line-height: 1.62

.just-done-work
  font-family: 'GothamPro', sans-serif
  background: url(../img/background_redesign-Vista.png) no-repeat
  background-size: cover
  background-position: center
  padding-top: 3.7vh
  padding-bottom: 3.7vh
  color: #fff
  &__subtitle
    font-family: 'GothamProLight', sans-serif
    margin: 0
    font-size: 14px
  &__title
    font-family: 'GothamProBold', sans-serif
    font-size: 36px
    font-weight: bold
    margin-top: 1.85vh
    margin-bottom: 1.85vh
  &__description
    font-size: 18px
    line-height: 1.41
    padding-right: 1vw
  &__more
    display: inline-block
    vertical-align: top
    font-family: 'GothamProBlack', sans-serif
    color: #fff
    text-decoration: none
    font-size: 18px
    padding: 1vh 1.3vw
    border: 2px solid #fff
    border-radius: 3px
    &:hover
      color: darken(#fff, 10%)

.basic-services
  &__title
    font-size: 48px
  &__item
    font-family: 'GothamPro', sans-serif
    font-weight: normal
    line-height: 1.62
    & h2
      font-size: 24px
      font-weight: normal
      padding-right: 11%
    & p
      font-size: 18px
      padding-right: 11%

.our-works
  &__title
    font-size: 48px
  &__description
    font-family: 'GothamPro', sans-serif
    font-size: 18px
    line-height: 1.62
  &__nav ul
    text-align: right
    overflow: visible
    padding: 0
    margin-left: -100%
    & li
      font-family: 'GothamProLight', sans-serif
      list-style-type: none
      text-align: right
      margin-bottom: 1em
      cursor: pointer
      &:hover
        font-family: 'GothamProBlack', sans-serif
        color: $blue
      &.active
        font-family: 'GothamProBlack', sans-serif
        color: $blue
  &__work-item
    color: $blue
    cursor: pointer
    &:hover
      color: $blue_bright
      & .work-item__img
        &--mask
          display: block
    & .img-container
      position: relative
    & .work-item__img
      width: 100%
      height: auto
      &--mask
        display: none
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: rgba(55, 66, 250, 0.8)
        text-align: center
        padding-top: 10vh
        color: #fff
        font-size: 18px
        line-height: 2
    & .work-item__name
      font-size: 18px
      text-align: center
  &__more-works
    text-align: center
    color: $dark_grey
    cursor: pointer
    &:hover
      color: #000
    & .more-works
      &__text
        display: inline-block
        font-size: 48px
        text-transform: uppercase
      &__number
        display: inline-block
        font-size: 140px

.contacts
  color: $dark_grey
  &-text
    &__title
      font-size: 48px
      margin-block-start: 0
      margin-block-end: 0.5em
    &__address
      font-family: 'GothamProBold', sans-serif
      font-size: 24px
      line-height: 1.41
      padding-right: 15%
      &--city
        display: block
        font-family: 'GothamProLight', sans-serif
        font-size: 14px
        margin-block-start: 1em
        margin-block-end: 1em
    &__phone
      font-size: 36px
      color: $blue
    &__write-letter-button
      font-family: 'GothamProBlack', sans-serif
      font-size: 18px
      color: $blue
      padding: 1.4vh 1.6vw
      background: none
      border: 2px solid $blue
      border-radius: 3px
      cursor: pointer
      &:hover
        color: darken($blue, 15%)
  &__contacts-map
    & iframe
      width: 100%
      height: 100%

.main-footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1.9vh 4.5vw
  background-color: $dark_grey
  color: #fff
  font-family: 'GothamPro', sans-serif
  font-size: 14px
  & a
    margin-left: 20px
    &:hover
      opacity: 0.7

@media (max-width: 1199px)
  .our-works
    &__nav ul
      & li
        font-size: 14px
    &__work-item
      & .work-item__img
        &--mask
          padding-top: 5vh

@media (max-width: 991px)
  .our-works
    &__nav ul
      margin-left: -235%
    &__work-item
      &:hover
        & .work-item__img
          &--mask
            display: none
  .contacts
    &__contacts-map
      & iframe
        height: 40vh

@media (max-width: 768px)
  .main-nav
    & .container
      text-align: center
    & a:not(.main-nav__main-title)
      display: block
      font-size: 28px
      margin-right: 0
      text-decoration: underline
      line-height: 2
